ACTION=="add|change", KERNEL=="event[0-9]*", ENV{ID_VENDOR_ID}=="0eef", ENV{ID_MODEL_ID}=="0001", ENV{ID_INPUT_TOUCHSCREEN}="1", ENV{ID_INPUT_TABLET}="0", ENV{ID_INPUT_MOUSE}="0", ENV{LIBINPUT_CALIBRATION_MATRIX}="-1 0 1 0 1 0"
